.THIS.show { 
    display: block;  
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 1%;
 }

 
.THIS .Before{
    color:rgb(96, 206, 68); 
}

.THIS.toggle {   
    display: none;
}

.THIS .Now{
    color:rgb(231, 20, 20);
}

.THIS .title{
    font-weight: bold;
}